.App {
  font-family: sans-serif;
  text-align: center;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
